.navbar-light .navbar-toggler-icon {
  width: 1.2em;
  height: 1.2em;
}
.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 1px solid #0e53b9 !important;
  position: relative;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem !important;
}

.navbar-collapse {
  justify-content: flex-end;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: -306%;
  margin-top: 0.125rem;
}

.dropdown-item:hover {
  color: var(--bs-light);
  background-color: var(--bs-primary);
}

.nav-pills li:hover {
  background-color: #330976;
  cursor: pointer;
}

.row .col-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  height: 100px;
  width: 100px;
}
.row .col-3:hover {
  cursor: pointer;
}

.rotate {
  transform: rotateY(-180deg);
}

.revrotate {
  transform: rotateY(0deg);
}
.transdiv {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  height: 100vh;
  width: 100vw;
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 6px 0px black;
  backface-visibility: hidden;
}
.setbgfront {
  background: url("logos/qslogo.png") center no-repeat;
  background-size: cover;
}

.back {
  background-color: var(--bs-light);
  transform: rotateY(-180deg);
}

.choicediv {
  position: absolute;
  top: 6%;
  top: 7%;
  left: 0%;
  height: 93vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #ff00fa, #91c144);
  z-index: 1000;
  opacity: 96%;
}

.mo-gradient {
  background: linear-gradient(134deg, #75ff00, #40133b);
  border-radius: 7px;
  box-shadow: 0 0 20px black;
}

.failurecounter {
  display: flex;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.windiv {
  background: linear-gradient(45deg, #ff00fa, #91c144);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-shadow: 0 0 black;
  position: absolute;
  top: 40%;
  width: 80%;

  transition: opacity 1s ease-in-out, transform 1s ease-in-out,
    display 1s ease-in-out;
  z-index: 60;
}

.windiv.hide1 {
  display: none;
}
.windiv.hide2 {
  transform: translateY(-100vh);
}
